/*
*  设置滚动条样式 
*/

/* 设置滚动条的样式 */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 8px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: rgb(216, 233, 255);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.25);
}
/* 非激活窗口 */
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(216, 233, 255);
}

.mt{
    height: auto;
    position: fixed;
    /* text-align: center; */
    top: 5%;
    width: 100%;
    /* height: 60%; */
    display: flex;
    flex: auto;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.calendar {
    /* width: 896px; */
    height: auto;
    text-align: center;
    /* top: 20%; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    height: 500px;
    text-align: center;
    /* position: fixed; */
    /* top: 47%; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border {
    border-radius: 7px;
    width: 940px;
    height: auto;
    border: 1px solid #d0d7d1;
    text-align: center;
    margin: 10px;
    /* position: absolute; */
    /* left: 50%;
    top: 50%;
    transform: translate( -50%, -50%); */
}

.cborder {
    border-radius: 7px;
    width: 940px;
    height: 500px;
    border: 1px solid #d0d7d1;
    text-align: center;
    margin: 10px;
    /* position: absolute; */
    /* left: 50%;
    top: 50%;
    transform: translate( -50%, -50%); */
}



.inputpannel {
    margin: 10px;
    padding: 2px;

}

.year-item {
    padding: 6px 12px;
    font-size: 16px;
}

.year-item {
    position: relative;
    display: block;
    padding: 8px 16px;
    margin-bottom: 8px;
    overflow: hidden;
    font-size: 14px;
    color: #000000;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 6px;

}
.year-item:hover {
    text-decoration: none;
    background-color: #999a9b;
  }
.yearlist {
    list-style-type: none;
}

.rectlist {
    margin: 10px;
    padding: 10px;
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
    text-align: center
}

#calsvg {
    width: 100%;
    margin: 10px;
}

.svg-tip {
    position: absolute;
    z-index: 99999;
    padding: 8px 16px;
    font-size: 12px;
    color: #FFF;
    text-align: center;
    background: #000000;
    border-radius: 6px;
}

.svg-tip::after {

    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 5px;
    height: 5px;
    box-sizing: border-box;
    margin: 0 0 0 -4px;
    content: " ";
    border: 5px solid transparent;
    border-top-color: transparent;
    border-top-color: #000000;

}

.ContributionCalendar-label {
    padding: .125em .5em .125em 0;
    font-size: 12px;
    font-weight: 400;
    color: #000000;
    text-align: left;
    fill: rgb(0, 0, 0);
}

.float-left {
    float: left !important;
}

.float-right {
    float: right;
}

/* --color-calendar-graph-day-bg: #ebedf0;
--color-calendar-graph-day-L1-bg: #9be9a8;
--color-calendar-graph-day-L2-bg: #40c463;
--color-calendar-graph-day-L3-bg: #30a14e;
--color-calendar-graph-day-L4-bg: #216e39; */

.ContributionCalendar-day,
.ContributionCalendar-day[data-level="0"] {

    fill: #ebedf0;
    shape-rendering: geometricPrecision;
    border-radius: 2px;
}

.ContributionCalendar-day,
.ContributionCalendar-day[data-level="1"] {

    fill: #9be9a8;
    shape-rendering: geometricPrecision;
    border-radius: 2px;
}

.ContributionCalendar-day,
.ContributionCalendar-day[data-level="2"] {

    fill: #40c463;
    shape-rendering: geometricPrecision;
    border-radius: 2px;
}

.ContributionCalendar-day,
.ContributionCalendar-day[data-level="3"] {

    fill: #30a14e;
    shape-rendering: geometricPrecision;
    border-radius: 2px;
}


.json-panels{

}