.calendar {
    /* width: 896px; */
    height: auto;
    position: fixed;
    text-align: center;
    top: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border {
    border-radius: 7px;
    width: 1000px;
    height: auto;
    border: 1px solid #d0d7d1;
    text-align: center;
    margin: 10px;
    position: absolute;
    /* left: 50%;
    top: 50%;
    transform: translate( -50%, -50%); */
}


.inputpannel {
    margin: 10px;
    padding: 2px;

}

.rectlist {
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

svg {
    width: 100%;
    margin: 10px;
}

.svg-tip {
    position: absolute;
    z-index: 99999;
    padding: 8px 16px;
    font-size: 12px;
    color: #FFF;
    text-align: center;
    background: #000000;
    border-radius: 6px;
}

.svg-tip::after {

    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 5px;
    height: 5px;
    box-sizing: border-box;
    margin: 0 0 0 -4px;
    content: " ";
    border: 5px solid transparent;
    border-top-color: transparent;
    border-top-color: #000000;

}

.ContributionCalendar-label {
    padding: .125em .5em .125em 0;
    font-size: 12px;
    font-weight:  400;
    color: #000000;
    text-align: left;
    fill:rgb(0, 0, 0);
  }

/* --color-calendar-graph-day-bg: #ebedf0;
--color-calendar-graph-day-L1-bg: #9be9a8;
--color-calendar-graph-day-L2-bg: #40c463;
--color-calendar-graph-day-L3-bg: #30a14e;
--color-calendar-graph-day-L4-bg: #216e39; */

.ContributionCalendar-day,.ContributionCalendar-day[data-level="0"] {

    fill: #ebedf0;
    shape-rendering: geometricPrecision;
    border-radius: 2px;
}
.ContributionCalendar-day,.ContributionCalendar-day[data-level="1"] {

    fill: #9be9a8;
    shape-rendering: geometricPrecision;
    border-radius: 2px;
}
.ContributionCalendar-day,.ContributionCalendar-day[data-level="2"] {

    fill: #40c463;
    shape-rendering: geometricPrecision;
    border-radius: 2px;
}
.ContributionCalendar-day,.ContributionCalendar-day[data-level="3"] {

    fill: #30a14e;
    shape-rendering: geometricPrecision;
    border-radius: 2px;
}